
.post-feed{
    margin: 0 auto;
    /* border: 2px solid; */
    width: 1500px;
    /* display: grid;
    grid-template-columns: 1fr 2fr 1fr; */
}

.post-header {
    float: left;
    width: max-content;
    /* border: 1px solid; */
}

.avatar {
    float: left;
    width: max-content;
    padding-right: 10px;
    /* border: 1px solid; */
}

.post-card {
    text-align: left;
    width: 625px;
    margin: 15px;
    padding: 10px;
}

.post-card p {
    clear:both;
    white-space: pre-wrap;
    padding: 0px 15px;
}

.post-container {
    width: min-content;
    /* float:left; */
    margin: 0px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid; */
}

.post-form-container {
    position: fixed;
    width: 500px;
    margin-left: -125px;
    border: 1px solid #6666ff;
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.144);
}

