.post-feed{
    margin: 0 auto;
    /* border: 2px solid; */
}

.post-card {
    text-align: left;
    width: 625px;
    margin: 15px;
}

.post-card p {
    white-space: pre-wrap;
    padding: 0px 15px;
}

.post-container {
    width: 90%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
}

.thumbnail-container{
    margin: 50px auto;
    border: 1px solid;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.thumbnail {
    width: 400px;
    height:150px;
    display: flex;
    align-items: center;
}

.thumbnail h1 {
    text-decoration: none;
}

.no-style-link {
    text-decoration: inherit;
}